* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container {
   display: grid;
   /* display: inline-grid; */
   grid-template-columns:1fr 2fr 1fr;
   grid-template-rows: 1fr 2fr 3fr 2fr ;
   gap: 10px 20px ;
}
.container > div:nth-child(1) {
    background-color: #c13737;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.container > div:nth-child(2) {
    background-color: #52d11f;
    border: 1px solid #180505;
    padding: 10px;
    text-align: center;
}
.container > div:nth-child(3) {
    background-color: #f7f700;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.container > div:nth-child(4) {
    background-color: #00b3f7;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.container > div:nth-child(5) {
    background-color: #f700b3;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.container > div:nth-child(6) {
    background-color: #f7b300;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.container > div:nth-child(7) {
    background-color: #00f7b3;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.container > div:nth-child(8) {
    background-color: #b300f7;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.container > div:nth-child(9) {
    background-color: #f7b3b3;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    /* grid-column: 1 / span 2; */
}
.container > div:nth-child(10) {
    background-color: #b3f7b3;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    visibility: visible;

}
@media screen  and  (min-width: 162px) and (max-height: 197px) {
    .container > div:nth-child(10) {
        display: none;
        visibility: hidden;
        
}
    .container > div:nth-child(9) {
         grid-column: 1 / span 3;
         grid-row: 4 / span 1;
}
    .container> div:nth-child(8) {
        grid-column: 2/ span 2;
        grid-row: 3 / span 1;
}
}