*,
*::after
*::before { 
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #f8cdda, #1d2b64);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
label {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    animation: colorChange 3s infinite alternate ease-in-out;
}

@keyframes colorChange {
    0% {
        color: #FFD700; /* Gold color */
    }
    25% {
        color: #FF4500; /* OrangeRed color */
    }
    50% {
        color: #00FF7F; /* SpringGreen color */
    }
    75% {
        color: #1E90FF; /* DodgerBlue color */
    }
    100% {
        color: #fff; /* White color */
    }
}
input {
    background-color:inherit;
}
/* inherit is a way to input=visible:false; */
#lname::selection {
    color: rgb(160, 99, 19);
}
#name {
    outline: none;
    border: none;
}
#name:focus {
  content:"" ;
  outline: 3px solid #4A90E2;
  border-radius: 5px;
  background-color: rgb(207, 184, 56);
}
#lname:focus #name {
    border: 1px solid #000;
}

#lemail::selection {
    color: rgb(160, 99, 19);
}
#email {
    outline: none;
    border: none;
}
#email:focus {
  content:"" ;
  outline: 3px solid #4A90E2;
  border-radius: 5px;
  background-color: rgb(207, 184, 56);
}
#lemail:focus #email {
    border: 1px solid #000;
}



#lpassword::selection {
    color: rgb(160, 99, 19);
}
#password {
    outline: none;
    border: none;
}
#password:focus {
  content:"" ;
  outline: 3px solid #4A90E2;
  border-radius: 5px;
  background-color: rgb(207, 184, 56);
}
#lpassword:focus #password {
    border: 1px solid #000;
}