details {
         background: hsl(30 100% 85%);
         border-radius: 8px;
         font-size: 1.5rem;
         padding: 1rem;
}
details::details-content {
    width:fit-content;
    background-color: red;
}