.container {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: row;
}

div:empty {
    width: 100px;
    height: 100px;
    border: 2px dashed blue;
}

div:empty:nth-last-child(1) {
    border: 3px solid orange;
    background-color: blueviolet;
}

/* You can use https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */