*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
:enabled {
    background-color: rgb(187, 255, 0);
}
/* :enabled is for test you can use of (section:enabled) ==> was a example */